/*
https://github.com/postcss/postcss-100vh-fix
and https://github.com/Faisal-Manzer/postcss-viewport-height-correction/
*/
.full-height {
  height: calc(100 * var(--vh, 1vh));
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  .full-height {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.switch-layout {
  display: flex;
  flex-direction: column;
}

.switch-layout .main-pane {
  flex-grow: 1;
}

.switch-pane {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.switch-box {
  width: 60px;
  height: 35px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.switch-pane svg {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  border-radius: 999px;
}

.switch-border {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  padding: 3px;
  border-radius: 999px;
}

.switch {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 999px;
  padding: 4px;
}

.knob {
  border-radius: 999px;
  height: 100%;
  width: 21px;
  background-color: turquoise;
}